body {
	margin: 0px auto;
	padding: 0px auto;
}
header {
	background-image: url('../../librerias/imagenes/1.jpg');
	background-size: 100% 100%;
	width: 100%;
	height: 250px;
	text-align: center;
}
#a {
	float: left;
	width: 30%;
	padding-top: 20px;
}
#b {
	font-size: 80px;
	color: white;
	width: 70%;
	padding-top: 70px;
}
#c {
	margin-right: 30px;
	margin-top: 10px;
	padding-left: 5px;
	float: right;
	cursor: pointer;
}
#d {
	margin-top: 10px;
	float: right;
	margin-left: 90px;
	cursor: pointer;
}
#m {
	font-size: 30px;
	color: white;
	margin-top: 10px;
	margin-right: 400px;
	font-family: cursive;
	width: 1050px;
}
nav {
	background-color: #D8D8D8;
	width: 100%;
	height: 80px;
	padding-top: 5px;
}
ul li {
	width: 100px;
	background: rgba(148,148,148,0.3);
	padding: 10px;
	border:2px  outset black;
	border-radius: 15px 15px 15px 15px;
	display: inline-block;
	margin-left: 120px;
	text-align: center;
	height: 14px;
	box-shadow: 1px 1px 20px 1px black;
}
#f {
	float: left;
	margin-top: -12px;
	margin-left: 12px;
}
#e {
	height: 15px;
	margin-left: 50px;
}
#g {
	float: left;
	margin-top: -16px;
}
#en1 {
	text-decoration: none;
	color: black;
}
#en1:hover {
	color: white;
}
#en2 {
	text-decoration: none;
	color: black;
}
#en2:hover {
	color: white;
}
#en3 {
	color: black;
}
#en3:hover {
	color: white;
}
#l1 {
	height: 15px;
}
#l2 {
	height: 15px;
}
#h {
	float: left;
	margin-top: -5px;
}
#j {
	float: left;
	margin-top: -10px;
}
#k {
	width: 120px;
}
#Login {
	margin-right: 94px;
	margin-top: 0px;
	float: right;
}
#L2 {
	width: 130px;
	height: 15px;
}
#IM1 {
	margin-top: -9px;
	margin-left: -88px;
}
#L3  {
	margin-top: 0px;
	margin-left: 3px;
	position: absolute;
}
#cua{
	background-color: rgba(0,0,0,0.6);
	width: 22%;
	height: 50px;
	margin-top: -230px;
	margin-left: 1021px;
	border-radius: 30px 0px 0px 30px;
}
#cua2 {
	text-align: center;
	padding-top: 12px;
	color: white;
	font-size: 22px;
}
article {
	background-color: #ffffff;
	width: 70%;
	height: 400px;
	float: left;
}
#x {
	font-size: 25px;
	font-family: cursive;
	margin-top: 38px;
	text-align: center;
}
#x2 {
	font-size: 25px;
	font-family: cursive;
	margin-top: 10px;
	text-align: center;
}
#x3 {
	text-align: center;
	margin-top: 20px;
}
#im {
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	border-left: 5px solid black;
	border-right: 5px solid black;
	border-radius: 50px;
}
aside {
	background-color: #F65D5D;
	width: 30%;
	height: 400px;
	float: right;
}
#f1 {
	text-align: center;
	margin-top: 10px;
	font-size: 30px;
	font-family: cursive;
}
#f2 {
	margin-top: 20px;
}
#y1 {
	margin-left: 65px;
	font-size: 20px;
	font-family: cursive;
}
#y2 {
	margin-left: 12px;
}
#i1 {
	font-size: 16px;
	font-family: cursive;
	border-color: black;
	box-shadow: 1px 1px 12px 1px black;
}
#y3 {
	margin-left: 65px;
	font-size: 20px;
	font-family: cursive;
}
#i2 {
	font-size: 16px;
	font-family: cursive;
	border-color: black;
	box-shadow: 1px 1px 12px 1px black;
}
#d1 {
	margin-top: -5px;
}
#y5 {
	margin-left: 65px;
	font-size: 20px;
	font-family: cursive;
}
#y6 {
	margin-left: 5px;
}
#i3 {
	font-size: 16px;
	font-family: cursive;
	border-color: black;
	box-shadow: 1px 1px 12px 1px black;
}
#d2 {
	margin-top: -5px;
}
#y7 {
	margin-left: 65px;
	font-size: 20px;
	font-family: cursive;
}
#y8 {
	margin-left: 25px;
}
#i4 {
	font-size: 16px;
	font-family: cursive;
	border-color: black;
	box-shadow: 1px 1px 12px 1px black;
}
#d3 {
	margin-top: -5px;
}
#d4 {
	margin-left: 140px;
	margin-top: -6px;
}
#i5 {
	font-size: 20px;
	font-family: cursive;
	border-color: black;
	background-color: silver;
	margin-left: -10px;
	box-shadow: 1px 1px 1px 1px black;
	cursor: pointer;
}
#i5:hover {
	color: white;
}
#y9 {
	font-size: 20px;
	font-family: cursive;
	margin-left: 65px;
}
#y10 {
	margin-left: 13px;
}
#i6 {
	font-size: 16px;
	font-family: cursive;
	border-color: black;
	box-shadow: 1px 1px 12px 1px black;
}
#d5 {
	margin-top: 10px;
}
#y11 {
	font-size: 20px;
	font-family: cursive;
	margin-left: 65px;
}
#y12 {
	margin-left: 6px;
}
#i7 {
	font-size: 16px;
	font-family: cursive;
	border-color: black;
	box-shadow: 1px 1px 12px 1px black;
}
#Orden {
	font-family: cursive;
	font-size: 30px;
	text-align: center;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 80px;
}
#Nse2 {
	color: black;
}
#Sep {
	font-family: cursive;
	font-size: 40px;
	margin-left: 5px;
}
#Reser {
	padding-top: 10px;
	cursor: pointer;
}
footer {
	background-color: #564F4F;
	width: 100%;
	height: 78px;
	clear: both;
}
#b1 {
	margin-top: 14px;
	margin-left: 200px;
	float: left;
}
#v1 {
	font-size: 20px;
	cursor: pointer;
}
#b2 {
	margin-top: 14px;
	margin-left: 280px;
	float: left;
}
#v2 {
	font-size: 20px;
	cursor: pointer;
}
#b3 {
	margin-top: 14px;
	margin-right: 200px;
	float: right;
}
#v3 {
	font-size: 20px;
	cursor: pointer;
}
#Ei {
	color: black;
}
#Ei:hover {
	color: white;
}
