body {
	margin: 0px auto;
	padding: 0px auto;
}
header {
	background-image: url('../../librerias/imagenes/1.jpg');
	background-size: 100% 100%;
	width: 100%;
	height: 250px;
	text-align: center;
}
#a {
	float: left;
	width: 30%;
	padding-top: 20px;
}
#b {
	font-size: 80px;
	color: white;
	width: 70%;
	padding-top: 70px;
}
#c {
	margin-right: 30px;
	margin-top: 10px;
	padding-left: 5px;
	float: right;
	cursor: pointer;
}
#d {
	margin-top: 10px;
	float: right;
	margin-left: 90px;
	cursor: pointer;
}
#m {
	font-size: 30px;
	color: white;
	margin-top: 10px;
	margin-right: 400px;
	font-family: cursive;
	width: 1050px;
}
nav {
	background-color: #D8D8D8;
	width: 100%;
	height: 80px;
	padding-top: 5px;
}
ul li {
	width: 100px;
	background: rgba(148,148,148,0.3);
	padding: 10px;
	border:2px  outset black;
	border-radius: 15px 15px 15px 15px;
	display: inline-block;
	margin-left: 120px;
	text-align: center;
	height: 14px;
	box-shadow: 1px 1px 20px 1px black;
}
#f {
	float: left;
	margin-top: -12px;
	margin-left: 12px;
}
#e {
	height: 15px;
	margin-left: 50px;
}
#g {
	float: left;
	margin-top: -16px;
}
#en1 {
	text-decoration: none;
	color: black;
}
#en1:hover {
	color: white;
}
#en2 {
	text-decoration: none;
	color: black;
}
#en2:hover {
	color: white;
}
#en3 {
	color: black;
}
#en3:hover {
	color: white;
}
#l1 {
	height: 15px;
}
#l2 {
	height: 15px;
}
#h {
	float: left;
	margin-top: -5px;
}
#j {
	float: left;
	margin-top: -10px;
}
#k {
	width: 120px;
}
#Login {
	margin-right: 94px;
	margin-top: 0px;
	float: right;
}
#L2 {
	width: 130px;
	height: 15px;
}
#IM1 {
	margin-top: -9px;
	margin-left: -88px;
}
#L3  {
	margin-top: 0px;
	margin-left: 3px;
	position: absolute;
}
#cua{
	background-color: rgba(0,0,0,0.6);
	width: 17%;
	height: 50px;
	margin-top: -230px;
	margin-left: 1086px;
	border-radius: 30px 0px 0px 30px;
}
#cua2 {
	text-align: center;
	padding-top: 12px;
	color: white;
	font-size: 22px;
}
article {
	width: 100%;
	height: 800px;
}
h1 {
	text-align: center;
	font-family: cursive;
	font-size: 35px;
}
#ari {
	text-align: center;
	margin-top: -55px;
}
#art {
	text-align: center;
	font-family: cursive;
	font-size: 28px;
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 10px;
}
#enN {
	color: black;
	
}
footer {
	background-color: #564F4F;
	width: 100%;
	height: 78px;
	clear: both;
}
#b1 {
	margin-top: 14px;
	margin-left: 200px;
	float: left;
}
#v1 {
	font-size: 20px;
}
#b2 {
	margin-top: 14px;
	margin-left: 280px;
	float: left;
}
#v2 {
	font-size: 20px;
}
#b3 {
	margin-top: 14px;
	margin-right: 200px;
	float: right;
}
#v3 {
	font-size: 20px;
}
#Ei {
	color: black;
}
#Ei:hover {
	color: white;
}